html, body {
    height: 100%; /* Se till att både HTML och body täcker hela skärmens höjd */
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    background-image: url('images/adam.vattenfall.jpg');
    background-size: cover; /* Gör så att bilden täcker hela skärmen */
    background-position: center; /* Centrerar bilden */
    background-repeat: no-repeat; /* Förhindrar att bilden upprepas */
    height: 100vh; /* Gör att bakgrunden täcker hela höjden på skärmen */
    font-family: Arial, sans-serif;
    
        display: flex;
        flex-direction: column;
    
}
header {
    background-color: #333;
    color: #fff;
    padding: 0px;
    text-align: center;
    height: 60px;
    line-height: 60px;
}
header h1 {
    margin-top: 0px; /* Use a negative value to move the text upwards */
}

aside {
    position: absolute;
    top: 60px;
    left: 0;
    background-color: rgba(128, 128, 128, 0.4);
    padding: 20px;
    width: 150px;
    height: auto;
    border-radius: 8px;
}

aside nav {
    display: flex;
    flex-direction: column;
}

aside nav a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 18px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    margin-top: auto;
}

/* Responsiv stil för mobil med bestämd storlek */
@media (max-width: 768px) {
    body {
        background-size: contain; /* Gör att bakgrunden anpassar sig bättre till mindre skärmar */
        height: auto; /* Tillåter att body tar upp så mycket höjd som behövs */
    }

    header {
        height: 50px;
        line-height: 50px;
    }

    nav a {
        margin: 0 10px;
        font-size: 14px; /* Mindre textstorlek för navigeringen */
    }

    footer {
        padding: 8px; /* Mindre padding i footern för mobil */
    }
}